.page-legal-search .pane-content ul {
  list-style-type: none;
}
.page-legal-search .pane-content .view-paddle-legal-search {
  padding: 21px 15px 14px 15px;
  overflow: hidden;
}
.page-legal-search .pane-content .view-paddle-legal-search .views-row:not(:last-child) {
  margin-bottom: 10px;
}
.page-legal-search .pane-content .pager {
  text-align: center;
}
.page-legal-search .pane-content #edit-search-api-views-fulltext-wrapper {
  margin-right: 10px;
}
.page-legal-search .pane-content #edit-submit-paddle-legal-search {
  max-height: 42px;
  margin-top: 21px;
}
.page-legal-search .pane-content li.views-row {
  margin-left: 0;
}
.page-legal-search .pane-content li.views-row .views-field-title .field-content {
  line-height: 1.2;
}
.page-legal-search .pane-content li.views-row .views-field-title .field-content a:before {
  font-family: Flaticon;
  font-size: 1.6em;
  font-style: normal;
  display: inline-block;
  margin-right: 2px;
  content: "\e00f";
  vertical-align: middle;
}
.page-legal-search .region-content .panel-region-left .panel-pane:first-of-type h2 {
  margin-top: 0;
}
.page-legal-search .views-exposed-sort-wrapper {
  clear: both;
}

.pane-paddle-media-legal-search-pane-1 {
  margin-top: 14px;
}

@media (max-width: 578px) {
  .page-legal-search .views-exposed-search-wrapper .views-submit-button, .page-legal-search .views-exposed-search-wrapper #edit-submit-paddle-legal-search {
    width: 100%;
  }
  .page-legal-search .views-exposed-search-wrapper #edit-search-api-views-fulltext-wrapper {
    width: 96%;
  }
  .page-legal-search .views-exposed-sort-wrapper {
    display: flex;
    justify-content: start;
  }
}
