/**
* @file
* Styling for sticky items.
*
*/
.sticky-element {
  position: fixed;
  top: 0px;
  z-index: 1000;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
