@import "variables/*";

.page-legal-search {
  .pane-content {
    ul {
      list-style-type: none;
    }

    .view-paddle-legal-search {
      padding: 21px 15px 14px 15px;
      overflow: hidden;

      .views-row:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    .pager {
      text-align: center;
    }

    #edit-search-api-views-fulltext-wrapper {
      margin-right: 10px;
    }

    #edit-submit-paddle-legal-search {
      max-height: 42px;
      margin-top: 21px;
    }

    li.views-row {
      margin-left: 0;

      .views-field-title .field-content {
        line-height: 1.2;

        a:before {
          font-family: Flaticon;
          font-size: 1.6em;
          font-style: normal;
          display: inline-block;
          margin-right: 2px;
          content: "\e00f";
          vertical-align: middle;
        }
      }
    }
  }

  .region-content {
    .panel-region-left {
      .panel-pane:first-of-type {
        h2 {
          margin-top: 0;
        }
      }
    }
  }
  .views-exposed-sort-wrapper {
    clear: both;
  }
}

.pane-paddle-media-legal-search-pane-1 {
  margin-top: 14px;
}

@media (max-width: $screen-xs-max) {
  .page-legal-search {
    .views-exposed-search-wrapper {
      .views-submit-button, #edit-submit-paddle-legal-search {
        width: 100%;
      }
      #edit-search-api-views-fulltext-wrapper {
        width: 96%;
      }
    }

    .views-exposed-sort-wrapper {
      display: flex;
      justify-content: start;
    }
  }
}
