/**
 * @file
 * Paddle Core Statistics page styling.
 */

.node-type-core-statistics-page {
  .pane-core-statistics-paragraph-navigation .pane-section-body {
    display: flex;
    justify-content: space-between;

    ul.listing.table-listing > li {
      margin-left: -1em;
      list-style: none;
    }
    .main-image img {
      width: 100%;
    }
  }

  .pane-paragraphs {
    & > .pane-content {
      border: none;
      box-shadow: none;

      .pane-core-statistics-paragraphs {
        border: 1px solid #EBEBEB;
        border-bottom: 0;
        box-shadow: 0 5px 5px -4px #B5B5B5;
      }

      ul.paragraph-list > li {
        margin-left: -1em;
        list-style: none;
        .pane-content {
          border: 0;
          box-shadow: none;
          .pane-section-top, .pane-section-top h2 {
            background-color: transparent;
            color: #000;
          }
          .pane-section-body {
            padding-top: 0;
          }
        }
      }

      iframe {
        margin-top: 30px;
        padding: 5px;
        border: none;
      }
    }
  }
}


/**
 * Core statistics view on listing panes.
 */

.pane-section-body.view-mode-core_statistics_view .view-content {
  display: flex;
  flex-wrap: wrap;

  .views-row {
    margin: 0 2% 2% 0;

    @media screen and (min-width: 45em) {
      width: 47.75%;
    }
  }
}

.panel-pane .pane-content .pane-section-body.view-mode-core_statistics_view a {
  text-decoration: none;
}

.panel-pane .pane-content .pane-section-body.view-mode-core_statistics_view .node-header h4 {
  color: #5e5e5e;
}

.node-core-statistics-view {
  position: relative;
  display: flex;
  justify-content: flex-start;

  .node-core-statistics-view-image {
    margin-right: 2em;
    width: 30%;

    img {
      border-bottom: 5px solid transparent;
      &:hover {
        border-bottom-color: #2b979d;
      }
    }
  }

  .node-content {
    width: 65%;
  }

  .node-header {
    padding: 0 0 1.5em;
    margin-bottom: 1em;
    position: relative;

    h5 {
      margin-bottom: .5em;
    }

    h4, h4 a {
      font-size: 20px;
    }

    &:after {
      content: "";
      display: block;
      height: 1px;
      width: 100px;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  p {
    color: $c-black;
  }
}

// Show the list items in one column in small regions.
.col-md-3, .col-md-4, .col-lg-3, .col-md-9 .col-lg-6, .col-md-9 .col-lg-4, .col-md-9 .col-lg-3, .col-md-8 .col-md-6, .col-md-6, .col-md-9 .col-lg-9, .col-md-9 .col-lg-7, .col-md-8 .col-md-12 {
  .pane-section-body.view-mode-core_statistics_view .view-content .views-row {
    width: 100%;

    .node-core-statistics-view {
      width: 100%;
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .node-core-statistics-view {
    width: 100%;
    flex-direction: column;

    .node-core-statistics-view-image, .node-content {
      width: 100%;
      text-align: center;

      .node-header {
        &:after {
          width: 75%;
          margin-left: 12.5%;
        }
      }
    }
  }
}
