/**
 * @file
 * Education Page module styling.
 */

.paddle-education {
  .pane-education-page-where-can-follow, .pane-education-page-study-area, .pane-education-page-grade {
    .pane-section-body {
      padding: 0;
    }
  }

  .pane-featured-image {
    & > .pane-content {
      border: none;
      box-shadow: none;
    }
  }

  ul {
    list-style-type: none;
  }
}
.pane-education-page-right-sidebar {
  .pane-section-body {
    padding: 0;
  }

  ul {
    list-style-type: none;
  }
}
.pane-navigation-links.sticky {
  margin-top: 10px;

  .pane-section-body {
    padding-top: 5px;
  }
}
.pane-education-page-spotify {
  .field-item {
    width: 80px;
    margin: 0 auto;
  }
  iframe {
    width: inherit;
  }
}

.pane-study-area-filter {
  .pane-section-body {
    .item-list  {
      .facetapi-facet-paddle-education-page-study-area-filter {
        list-style-type: none;
        li {
          margin-left: -1.25em;
        }
      }
    }
  }
}

.pane-grade-filter {
  .pane-section-body {
    .item-list  {
      .facetapi-facet-paddle-education-page-grade-filter {
        list-style-type: none;
        li {
          margin-left: -1.25em;
        }
      }
    }
  }
}
