/**
 * @file
 * Paddle Event module styling.
 */

.node-type-event-page {
  .files-section .table-listing li {
    list-style: none;
  }

  .event-date {
    line-height: 1.55;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 0.75em;
  }

  .event-organiser-details {
    .fa {
      padding-right: 5px;
    }

    p {
      font-weight: bold;
    }

    .event-info-element.phone a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .event-image {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    max-height: 350px;

    .event-center-div {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      text-align: center;
    }

    .event-inner-div {
      display: table;
      height: 100%;
      width: 100%;
    }

    .event-outer-div {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    h1 {
      color: $c-white;
    }
  }

  .event-map {
    margin-top: 15px;
  }
}

.pane-event-location, .pane-event-info {
  & > .pane-content {
    border: none;
    box-shadow: none;
  }

  .button-wrapper {
    text-align: center;
    margin: 45px 0;

    .form-subscribe {
      width: auto;
      height: 50px;
      margin-top: 20px;
      padding: 1em 2em;
      border: none;
      font-size: 1.3em;
      font-weight: bold;
      text-transform: uppercase;
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

.vub-specific-field .label {
  font-weight: bold;
}

.view-paddle-events {
  .views-exposed-form {
    .views-exposed-widget {
      .form-submit {
        margin-top: 1.5em;
        height: 43px;
      }
    }
  }
}