/**
 * @file
 * Researcher Paddlet styling.
 */

.researcher-spotlight,
.researcher-teaser {
  margin: 0 1% 2% 0;

  .contact {
    margin-top: 15px;
  }

  h3 {
    margin-top: 0;
  }

  .researcher-teaser-image {
    img {
      border-bottom: 5px solid transparent;
      &:hover {
        border-bottom-color: #2b979d;
      }
    }
  }
}
